{%- macro fa(icon) -%}
{%- set fa_special_icons = {
  "feed": "fas fa-rss",
  "rss": "fas fa-rss",
} -%}
{%- if icon in fa_special_icons -%}
{{ fa_special_icons[icon] }}
{%- elif icon.split()|select("in", ["fa", "fab", "fas", "far", "fal", "fad"])|list -%}
{{ icon }}
{%- else -%}
fab fa-{{icon}}
{%- endif -%}
{%- endmacro -%}
<div class="my-5">
    <div class="p-5 text-center bg-orange">
        <div class="container py-5">
            <h1 class="text-body-emphasis"> {{ SITENAME }} </h1>
            <p class="col-lg-8 mx-auto lead">
                {{ SITESUBTITLE }}
            </p>
            <ul class="list-inline">
                {% for icon, link in SOCIAL %}
                  <li class="list-inline-item ms-2">
                    <a class="{{ fa(icon) }} text-decoration-none text-black-50" href="{{ link }}" target="_blank" width="24" height="24"></a>
                  </li>
                {% endfor %}
              </ul>
        </div>
    </div>
</div>