{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

  <script src="{{ SITEURL }}/theme/js/codeblocks.js"></script>

{% endblock %}

{% block content %}
<div class="container">
  <article>
    <header class="">
      <h1>{{ article.title }}</h1>
      <!-- {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }} -->

      <div class="small">  <!-- bg-body-light p-3 rounded -->
        <section class="ps-2">
          <span class="lead"> {{ article.summary }} </span>
          <p class="small fst-italic">
              <i class="far fa-user-circle"></i>
              {% if article.authors %}
                  Publicado por
              {% for author in article.authors %}
                  <a class="link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ SITEURL }}/{{ author.url }}">
                  {{ author }}
                  </a>
              {% endfor %}
                  em </i> <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}.</time>
              {% else %}
              </i> Publicado em <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}.</time>
              {% endif %}
              {% if article.category %}
              <i class="far fa-folder-open"></i> Categoria:
              <a class="link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ SITEURL }}/{{ article.category.url }}">
                  {{ article.category }}.
              </a>
              {% endif %}
              {% if article.tags %}
              Tags:
              {% for tag in article.tags %}
                  <a class="link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ SITEURL }}/{{ tag.url }}">
                  {{ tag }}{% if not loop.last %}, {% endif %}
                  </a>
              {% endfor %}
              {% endif %}
          </p>
      </section>
      </div>
    </header>
    <section class="mt-5 ps-2 pe-5">
      {{ article.content }}
    </section>
  </article>
</div>
{% endblock %}
