{% extends "base.html" %}

{% block content %}
    <div class="px-5 mx-md-5">
    {% for article in articles_page.object_list %}
        <article class="{{ 'border-bottom' if not loop.last else '' }} border-dark-subtle mt-3">
            <header>
                <h2>
                    <a class="link-dark text-decoration-none" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
            </header>
            <section class="lead">
                {{ article.summary }}
            </section>
            <footer>
                <p>Publicado em <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
                <address>Por
                    {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                </address>
            </footer>
        </article>
    {% endfor %}
    </div>
    {% if articles_page.has_other_pages() %}
        {% include 'include/pagination.html' %}
    {% endif %}

{% endblock content %}
