{% extends "base.html" %}

{% block header %}
    {%if articles_page.number == 1 %}
        {% include 'include/header-main.html' %}
    {% else %}
        {% include 'include/header.html' %}
    {% endif %}
{% endblock header %}

{% block content %}
    <div class="">
    <h2 class="text-center">...</h2>
    {% for article in articles_page.object_list %}
        <article class="{{ 'border-bottom' if not loop.last else '' }} {{ 'mt-3' if not loop.first else '' }} border-dark-subtle py-3">
            <header>
                <h2>
                    <a class="link-dark text-decoration-none" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
            </header>
            <section class="ps-2">
                <span class="lead"> {{ article.summary }} </span>
                <p class="small fst-italic">
                    <i class="far fa-user-circle"></i>
                    {% if article.authors %}
                        Publicado por
                    {% for author in article.authors %}
                        <a class="link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ SITEURL }}/{{ author.url }}">
                        {{ author }}
                        </a>
                    {% endfor %}
                        em </i> <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}.</time>
                    {% else %}
                    </i> Publicado em <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}.</time>
                    {% endif %}
                    {% if article.category %}
                    <i class="far fa-folder-open"></i> Categoria:
                    <a class="link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ SITEURL }}/{{ article.category.url }}">
                        {{ article.category }}.
                    </a>
                    {% endif %}
                    {% if article.tags %}
                    Tags:
                    {% for tag in article.tags %}
                        <a class="link-secondary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ SITEURL }}/{{ tag.url }}">
                        {{ tag }}{% if not loop.last %}, {% endif %}
                        </a>
                    {% endfor %}
                    {% endif %}
                </p>
            </section>
        </article>
    {% endfor %}
    </div>
    {% if articles_page.has_other_pages() %}
        {% include 'include/pagination.html' %}
    {% endif %}

{% endblock content %}
